%p.intro The <em>easy</em> way to send <em>personalized</em> e-cards to your <em>friends</em> and <em>family</em> for <em>free</em>

%p.intro <strong>Click on a card to get started!</strong>

       
%section.cards
  %h1.category Birthday Cards
  %ul
    - @birthday.each do |design|
      %li
        %a.card(href='/card/#{design.id}')
          %h1.title{:class => design.name}= design.title
          %img.reflect{:src=>settings.images + "/" + design.image + "-th.png",:alt => design.alt, :width => 128, :height => 84}


%section.cards
  %h1.category New Baby Cards
  %ul
    - @babies.each do |design|
      %li
        %a.card(href='/card/#{design.id}')
          %h1.title{:class => design.name}= design.title
          %img.reflect{:src=>settings.images + "/" + design.image + "-th.png",:alt => design.alt, :width => 128, :height => 84}

   
%section.cards        
  %h1.category Christmas Cards
  %ul
    - @xmas.each do |design|
      %li
        %a.card(href='/card/#{design.id}')
          %h1.title{:class => design.name}= design.title
          %img.reflect{:src=>settings.images + "/" + design.image + "-th.png",:alt => design.alt, :width => 128, :height => 84}
         
          
%section.cards
  %h1.category Easter Cards
  %ul
    - @easter.each do |design|
      %li
        %a.card(href='/card/#{design.id}')
          %h1.title{:class => design.name}= design.title
          %img.reflect{:src=>settings.images + "/" + design.image + "-th.png",:alt => design.alt, :width => 128, :height => 84}
          
%a.feedback(href="/feedback")
  %p Send some feed<em>BAA</em>ck!
