!!! 5
%html
  %head
    %meta(charset='utf-8')
    %title= @title || settings.name
    %link(rel='shortcut icon' href='/favicon.ico')
    /[if lt IE 9]
      %script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
    %link(rel='stylesheet' media="screen, projection" href='/styles.css')
    %link(href='http://fonts.googleapis.com/css?family=Sniglet:800' rel='stylesheet')
    %link(href='http://fonts.googleapis.com/css?family=Chewy' rel='stylesheet')
    %link(href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet')
    %link(href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet')
    =haml :analytics,:layout=>false
  %body
    %header(role='banner')
      %h1 <a title='home' href='/' class='logo'>#{settings.name}</a>
    .content
      = yield
    %footer(role='contentinfo')
      %small 
        %p <a href='/' class='logo'>#{settings.name}</a> - &copy; DAZ 2010 - #{Time.now.year}
        %p This site is currently in public Beta - please accept my apologies if things go wrong.
        %p All images are licensed under a <a href="licensed under a Creative Commons Attribution-ShareAlike 3.0 Unported License">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>
        %p This site would not be possible without a lot of Open Source software - Ruby, Sinatra, Inkscape, Ubuntu, DataMapper, Heroku
