!!! 5
%html
  %head
    %meta(charset='utf-8')
    %meta(name="description" content="The easy way to send personalized e-cards to your friends and family for free")
    %meta(name="author" content="DAZ")
    %title= @title || settings.name
    %link(rel='shortcut icon' href='/favicon.ico')
    %link(href='http://fonts.googleapis.com/css?family=Sniglet:800|Chewy|Ubuntu|Pacifico|Architects+Daughter' rel='stylesheet')
    %link(rel='stylesheet' media="screen, projection" href='/styles.css')
    /[if lt IE 9]
      %script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
    %script(src='/reflection.js')
    =haml :analytics,:layout=>false
  %body
    %header(role='banner')
      %h1 <a title='home' href='/' class='logo'>#{settings.name}</a>
    .content
      = yield
    %footer(role='contentinfo')
      %small 
        %p <a href='/' class='logo'>#{settings.name}</a> &copy; #{Time.now.year} DAZ
        %p All images are licensed under a <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>
        %p This site would not be possible without the awesomeness of <a href="http://ubuntu.com">Ubuntu</a>, <a href="http://ruby-lang.org/en/">Ruby</a>, <a href="http://sinatrarb.com">Sinatra</a>, <a href="http://datamapper.org/">DataMapper</a>, <a href="http://inkscape.org/">Inkscape</a>, <a href="http://cow.neondragon.net/stuff/reflection/">Reflection.js</a> &amp; <a href="http://heroku.com">Heroku</a>
<<<<<<< HEAD
        %p Currently in public Beta so please accept my apologies if anything go wrong
=======
        %p Currently in public Beta so please accept my apologies if anything goes wrong
>>>>>>> b85324e2f4d03ce16b17b3b6615a289f46ecb889
