%table
  %tr
    %th ID
    %th Date Sent
    %th Title
    %th Design
    %th Short Url
    %th Sent to
    %th Sent by
  - @cards.each do |card|
    %tr
      %td= card.id
      %td= card.sent_at
      %td= card.title
      %td= card.design_id
      %td= card.url
      %td= card.to
      %td= card.from
